@import "font.css";

:root {
  --bg: #ffff77;
  --fg: #222222;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: Atkinson, sans-serif;
  font-size: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
  /* padding: 0rem 1rem 1rem 1rem; */
}

#container {
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
  margin-top: 13rem;
  max-width: 60rem;
}

p, li {
  line-height: 1.25em;
}

#title-container {
  margin-top: 0;
  padding-top: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.title {
  overflow-x: hidden;
  white-space: nowrap;
  background-color: var(--fg);
  color: var(--bg);
  font-size: 4rem;
  font-style: italic;
  margin-top: 0.5rem;
}

#title1 {
  margin-left: -2rem;
}

#title2 {
  margin-left: -20rem;
}

#menu {
  margin-left: 0rem;
  font-size: 2rem;
  width: 100vw;
  text-align: center;
  font-weight: normal;
  white-space: normal;
  padding: 0.5rem;
}

#menu a {
  color: var(--bg);
}

section {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px dashed black;
}

#about {
  margin-top: 14rem;
}

#subscribe {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 2rem;
}

#latest-season {
  margin-top: 2rem;
}

#player {
  /* border: .1em dashed black; */
  /* padding: .25em; */
  /* background-color: black; */
}

h2 {
  font-size: 1em;
}

a, a:hover, a:visited {
  color: var(--fg);
}

#hosts {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-around; */
  column-gap: 3.5rem;
  width: 100%;
}

.host {
  flex: 1 1 45%;
}

img {
  width: 100%
}

.badge {
  height: 48px;
}

.badge img {
  height: 100%;
  width: auto;
}

footer {
  margin-bottom: 2rem;
  text-decoration: underline;
  cursor: help;
}
